#p5js {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  z-index: 201;
}

#message {
  display: none;
}

#dummy {
  opacity: 0;
}

#startstop {
  position: absolute;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  display: none;
  background: transparent;
  border: none;
  z-index: 201;
}

#replay {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: none;
  background: transparent;
  border: none;
  z-index: 201;
}

#back {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: none;
  background: transparent;
  border: none;
  z-index: 201;
}

/* ローディング画面 */
#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  margin: auto;
  transition: all 1s;
  background: rgb(94, 255, 0);
  z-index: 100;
}

/* 楽曲選択画面 */
#song_select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  transition: all 1s;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.song_btn {
  width: 105px;
  height: 105px;
}
